.popup__button {
  background: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 238px;
  height: 46px;
  margin-top: 45px;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 880px) {
  .popup__button {
    margin-top: 48px;
    padding: 0;
    width: 358px;
  }
}