.header__logo {
  height: 24.4px;
  width: 103.74px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 31.6px;
  padding-left: 27px;
  margin: 0;
}

@media screen and (min-width: 880px) {
    .header__logo {
      height: 33px;
      width: 142px;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 41px;
      padding-left: 0;
  }
}