.popup-add__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (min-width: 880px) {
  .popup-add__title {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
  }
}