.group__button {
  background-image: url(../../../images/groupButton.svg);
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 19px;
  width: 22px;
  background: transparent;
  border: 0;
}

.group__button:hover {
  opacity: 0.6;
}