.popup-add__button {
  background: transparent;
  background-image: url(../../../images/submitButton320.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  width: 238px;
  height: 46px;
  cursor: pointer;
  margin-top: 15px;
}

.popup-add__button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 880px) {
  .popup-add__button {
    margin-top: 18px;
    padding: 0;
    background-image: url(../../../images/submitButton880.svg);
    width: 358px;
  }
}