.popup__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  white-space: nowrap;
}

@media screen and (min-width: 880px) {
  .popup__title {
    width: 330px;
    font-size: 24px;
    line-height: 29px;
    margin-right: 35px;
  }
}